<h2>Add new contact</h2>
<br />

<h3>Id</h3>
<input type="text" ng-model="contact.Id"/>
<h3>Name</h3>
<input type="text" ng-model="contact.Name" />
<h3>Surname</h3>
<input type="text" ng-model="contact.Surname" />
<h3>Adress</h3>
<input type="text" ng-model="contact.Adress" />
<h3>City</h3>
<input type="text" ng-model="contact.City" />
<h3>Email</h3>
<input type="text" ng-model="contact.Email" />
<h3>Phone numbers</h3>
<input type="text" ng-model="contact.PhoneNumbers" />
<h3>Tags</h3>
<input type="text" ng-model="contact.Tags" />
<hr />
<button class="btn btn-default" ng-click="save(contact)">Add contact</button>